<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3de9b082-699b-4426-b5ce-1385c5fad78d/resourcegroups/SrednjeSkoleApp/providers/Microsoft.Web/sites/SrednjeSkoleAPI20180818082926</ResourceId>
    <ResourceGroup>SrednjeSkoleApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://srednjeskoleapi20180818082926.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>srednjeskoleapi20180818082926.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SrednjeSkoleAPI20180818082926</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SrednjeSkoleAPI20180818082926</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SrednjeSkoleEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=srednjeskole.database.windows.net;Initial Catalog=SrednjeSkole;Persist Security Info=True;User ID=haris;Password=Mostar2018;Application Name=EntityFramework" Name="Data Source=srednjeskole.database.windows.net;Initial Catalog=SrednjeSkole;Persist Security Info=True;User ID=haris;Password=Mostar2018;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SrednjeSkole_API.Models.SrednjeSkoleEntities, SrednjeSkole_API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SrednjeSkoleEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=srednjeskole.database.windows.net;Initial Catalog=SrednjeSkole;Persist Security Info=True;User ID=haris;Password=Mostar2018;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>