<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: AzureStorageConnectionString-1 -->
        <add key="AzureStorageConnectionString-1" value="DefaultEndpointsProtocol=https;AccountName=srednjeskole;AccountKey=9JzTotn+UyfgAW9KVKHm2oDrF1dawMOLkARlYP/vKlfOEpYrZx8hJRF/sPnkz7gYwjS7DLFqgOq1NxcBU+Spkg==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>