USE [SrednjeSkole]
GO
/****** Object:  Table [dbo].[AutorizacijskiToken]    Script Date: 9/4/2018 1:55:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorizacijskiToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vrijednost] [nvarchar](max) NULL,
	[KorisnikId] [int] NOT NULL,
	[VrijemeEvidentiranja] [datetime] NOT NULL,
	[IpAdresa] [nvarchar](max) NULL,
 CONSTRAINT [PK_AutorizacijskiToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casovi]    Script Date: 9/4/2018 1:55:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casovi](
	[CasId] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Naslov] [nvarchar](max) NULL,
	[Opis] [nvarchar](max) NULL,
	[NastavnikId] [int] NOT NULL,
 CONSTRAINT [PK_Casovi] PRIMARY KEY CLUSTERED 
(
	[CasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Izostanci]    Script Date: 9/4/2018 1:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izostanci](
	[IzostanakId] [int] IDENTITY(1,1) NOT NULL,
	[Razlog] [nvarchar](max) NULL,
	[Komentar] [nvarchar](max) NULL,
	[CasId] [int] NOT NULL,
	[UcenikId] [int] NOT NULL,
 CONSTRAINT [PK_Izostanci] PRIMARY KEY CLUSTERED 
(
	[IzostanakId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 9/4/2018 1:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[LozinkaHash] [nvarchar](max) NULL,
	[LozinkaSalt] [nvarchar](max) NULL,
	[Aktivan] [bit] NOT NULL,
	[Spol] [nvarchar](max) NULL,
	[DatumRodjenja] [datetime] NULL,
	[MjestoRodjenja] [nvarchar](50) NULL,
	[JMBG] [nvarchar](13) NULL,
	[Prebivaliste] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Telefon] [nvarchar](30) NULL,
	[Adresa] [nvarchar](100) NULL,
	[Grad] [nvarchar](50) NULL,
	[Opstina] [nvarchar](50) NULL,
	[Slika] [varbinary](max) NULL,
	[SlikaThumb] [varbinary](max) NULL,
 CONSTRAINT [PK_Korisnici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici_Nastavnici]    Script Date: 9/4/2018 1:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici_Nastavnici](
	[Zvanje] [nvarchar](max) NULL,
	[DatumIzboraUZvanje] [datetime] NULL,
	[NaucnaOblast] [nvarchar](max) NULL,
	[GodinaZaposlenja] [int] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Korisnici_Nastavnici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici_Ucenici]    Script Date: 9/4/2018 1:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici_Ucenici](
	[ImeRoditelja] [nvarchar](max) NULL,
	[GodinaUpisa] [int] NOT NULL,
	[SmjerId] [int] NOT NULL,
	[NazivOsnovneSkole] [nvarchar](max) NULL,
	[ProsjekOcjenaOsnovnaSkola] [float] NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Korisnici_Ucenici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KorisniciUloge]    Script Date: 9/4/2018 1:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KorisniciUloge](
	[KorisniciUlogeId] [int] IDENTITY(1,1) NOT NULL,
	[UlogaID] [int] NOT NULL,
	[KorisnikID] [int] NOT NULL,
 CONSTRAINT [PK_KorisniciUloge] PRIMARY KEY CLUSTERED 
(
	[KorisniciUlogeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materijali]    Script Date: 9/4/2018 1:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materijali](
	[MaterijalId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[BlobName] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[PredmetId] [int] NOT NULL,
	[NastavnikId] [int] NOT NULL,
	[Rating] [decimal](9, 2) NOT NULL,
	[BrojOcjena] [int] NOT NULL,
 CONSTRAINT [PK_Materijali] PRIMARY KEY CLUSTERED 
(
	[MaterijalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterijaliOcjene]    Script Date: 9/4/2018 1:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterijaliOcjene](
	[MaterijaliOcjeneId] [int] IDENTITY(1,1) NOT NULL,
	[MaterijalId] [int] NOT NULL,
	[UcenikId] [int] NOT NULL,
	[Ocjena] [int] NOT NULL,
 CONSTRAINT [PK_MaterijaliOcjene] PRIMARY KEY CLUSTERED 
(
	[MaterijaliOcjeneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obavijesti]    Script Date: 9/4/2018 1:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obavijesti](
	[ObavijestId] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [nvarchar](max) NULL,
	[Tekst] [nvarchar](max) NULL,
	[KorisnikId] [int] NOT NULL,
	[Datum] [datetime] NOT NULL,
 CONSTRAINT [PK_Obavijesti] PRIMARY KEY CLUSTERED 
(
	[ObavijestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predaje]    Script Date: 9/4/2018 1:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predaje](
	[PredajeId] [int] IDENTITY(1,1) NOT NULL,
	[NastavnikId] [int] NOT NULL,
	[PredmetId] [int] NOT NULL,
	[RazredId] [int] NOT NULL,
 CONSTRAINT [PK_Predaje] PRIMARY KEY CLUSTERED 
(
	[PredajeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predmeti]    Script Date: 9/4/2018 1:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predmeti](
	[PredmetId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NOT NULL,
	[Oznaka] [nvarchar](max) NOT NULL,
	[Razred] [int] NOT NULL,
 CONSTRAINT [PK_Predmeti] PRIMARY KEY CLUSTERED 
(
	[PredmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Razredi]    Script Date: 9/4/2018 1:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Razredi](
	[RazredId] [int] IDENTITY(1,1) NOT NULL,
	[RazredBrojcano] [int] NOT NULL,
	[Odjeljenje] [nvarchar](max) NULL,
	[Oznaka] [nvarchar](max) NULL,
	[SkolskaGodinaId] [int] NOT NULL,
	[NastavnikId] [int] NOT NULL,
	[SmjerId] [int] NOT NULL,
	[Aktivan] [int] NOT NULL,
 CONSTRAINT [PK_Razredi] PRIMARY KEY CLUSTERED 
(
	[RazredId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkolskeGodine]    Script Date: 9/4/2018 1:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkolskeGodine](
	[SkolskaGodinaId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_SkolskeGodine] PRIMARY KEY CLUSTERED 
(
	[SkolskaGodinaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Smjerovi]    Script Date: 9/4/2018 1:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Smjerovi](
	[SmjerId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[Opis] [nvarchar](max) NULL,
	[SkolskaGodinaId] [int] NOT NULL,
 CONSTRAINT [PK_Smjerovi] PRIMARY KEY CLUSTERED 
(
	[SmjerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmjerPredmet]    Script Date: 9/4/2018 1:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmjerPredmet](
	[SmjerPredmetId] [int] IDENTITY(1,1) NOT NULL,
	[BrojCasova] [int] NOT NULL,
	[PredmetId] [int] NOT NULL,
	[SmjerId] [int] NOT NULL,
 CONSTRAINT [PK_SmjerPredmet] PRIMARY KEY CLUSTERED 
(
	[SmjerPredmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 9/4/2018 1:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UceniciCasovi]    Script Date: 9/4/2018 1:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UceniciCasovi](
	[UcenikCasoviId] [int] IDENTITY(1,1) NOT NULL,
	[UcenikId] [int] NOT NULL,
	[CasId] [int] NOT NULL,
 CONSTRAINT [PK_UceniciCasovi] PRIMARY KEY CLUSTERED 
(
	[UcenikCasoviId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UceniciOcjene]    Script Date: 9/4/2018 1:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UceniciOcjene](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UcenikId] [int] NOT NULL,
	[PredajeId] [int] NOT NULL,
	[Vrijednost] [int] NOT NULL,
	[Datum] [datetime] NOT NULL,
	[TipOcjene] [nvarchar](max) NULL,
	[Napomena] [nvarchar](max) NULL,
 CONSTRAINT [PK_UceniciOcjene] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UceniciRazredi]    Script Date: 9/4/2018 1:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UceniciRazredi](
	[UcenikRazrediId] [int] IDENTITY(1,1) NOT NULL,
	[RedniBroj] [int] NOT NULL,
	[SkolskaGodina] [nvarchar](max) NULL,
	[UcenikId] [int] NOT NULL,
	[RazredId] [int] NOT NULL,
 CONSTRAINT [PK_UceniciRazredi] PRIMARY KEY CLUSTERED 
(
	[UcenikRazrediId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uloge]    Script Date: 9/4/2018 1:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uloge](
	[UlogaId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[SuperAdministrator] [bit] NOT NULL,
	[Administrator] [bit] NOT NULL,
	[Nastavnik] [bit] NOT NULL,
	[Ucenik] [bit] NOT NULL,
	[Roditelj] [bit] NOT NULL,
 CONSTRAINT [PK_Uloge] PRIMARY KEY CLUSTERED 
(
	[UlogaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Korisnici] ON 

INSERT [dbo].[Korisnici] ([Id], [Ime], [Prezime], [KorisnickoIme], [LozinkaHash], [LozinkaSalt], [Aktivan], [Spol], [DatumRodjenja], [MjestoRodjenja], [JMBG], [Prebivaliste], [Email], [Telefon], [Adresa], [Grad], [Opstina], [Slika], [SlikaThumb]) VALUES (4, N'Haris', N'Omercausevic', N'haris', N'kCfO4NfnF0EVKeqNEvQ6zFQu7/Q=', N'VZGlJlT0gB/AxPwGpMRIRw==', 0, NULL, NULL, NULL, N'1321231232132', NULL, N'haris@edu.fit.ba', N'(062) 545-123', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Korisnici] ([Id], [Ime], [Prezime], [KorisnickoIme], [LozinkaHash], [LozinkaSalt], [Aktivan], [Spol], [DatumRodjenja], [MjestoRodjenja], [JMBG], [Prebivaliste], [Email], [Telefon], [Adresa], [Grad], [Opstina], [Slika], [SlikaThumb]) VALUES (5, N'test', N'test', N'test', N'oEnrKabKCDbRRpTxlr5PYXpJGqo=', N'upKp5g45I5mcPPue9dparQ==', 0, NULL, CAST(N'2003-08-09T00:00:00.000' AS DateTime), NULL, N'1221213213213', NULL, N'test@fit.ba', N'(123) 123-123', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Korisnici] ([Id], [Ime], [Prezime], [KorisnickoIme], [LozinkaHash], [LozinkaSalt], [Aktivan], [Spol], [DatumRodjenja], [MjestoRodjenja], [JMBG], [Prebivaliste], [Email], [Telefon], [Adresa], [Grad], [Opstina], [Slika], [SlikaThumb]) VALUES (6, N'mama', N'mia', N'mamamia', N'Iq1C0C6CaAIkCC7oGpdGpqCc+t4=', N'9lykR4WAnhxT2UtQax+5Sw==', 1, NULL, CAST(N'2004-01-01T00:00:00.000' AS DateTime), NULL, N'1234567890127', NULL, N'mamamia@fit.ba', N'(123) 123-123', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Korisnici] OFF
INSERT [dbo].[Korisnici_Nastavnici] ([Zvanje], [DatumIzboraUZvanje], [NaucnaOblast], [GodinaZaposlenja], [Id]) VALUES (N'doc.dr', NULL, N'neka', 2017, 5)
INSERT [dbo].[Korisnici_Nastavnici] ([Zvanje], [DatumIzboraUZvanje], [NaucnaOblast], [GodinaZaposlenja], [Id]) VALUES (N'doc.dr', NULL, N'razvoj', 2003, 9)
INSERT [dbo].[Korisnici_Nastavnici] ([Zvanje], [DatumIzboraUZvanje], [NaucnaOblast], [GodinaZaposlenja], [Id]) VALUES (N'mr. sc', NULL, N'Razvoj softvera', 2007, 18)
INSERT [dbo].[Korisnici_Ucenici] ([ImeRoditelja], [GodinaUpisa], [SmjerId], [NazivOsnovneSkole], [ProsjekOcjenaOsnovnaSkola], [Id]) VALUES (N'Emir', 2018, 5, N'Osnovna škola "Zalik"', NULL, 16)
INSERT [dbo].[Korisnici_Ucenici] ([ImeRoditelja], [GodinaUpisa], [SmjerId], [NazivOsnovneSkole], [ProsjekOcjenaOsnovnaSkola], [Id]) VALUES (N'Ado', 2018, 5, N'Osnovna škola "Zalik"', NULL, 17)
INSERT [dbo].[Korisnici_Ucenici] ([ImeRoditelja], [GodinaUpisa], [SmjerId], [NazivOsnovneSkole], [ProsjekOcjenaOsnovnaSkola], [Id]) VALUES (N'Larisa', 2018, 4, N'OŠ Zalik', NULL, 20)
SET IDENTITY_INSERT [dbo].[KorisniciUloge] ON 

INSERT [dbo].[KorisniciUloge] ([KorisniciUlogeId], [UlogaID], [KorisnikID]) VALUES (30, 3, 6)
INSERT [dbo].[KorisniciUloge] ([KorisniciUlogeId], [UlogaID], [KorisnikID]) VALUES (37, 1, 7)
INSERT [dbo].[KorisniciUloge] ([KorisniciUlogeId], [UlogaID], [KorisnikID]) VALUES (38, 1, 8)
SET IDENTITY_INSERT [dbo].[KorisniciUloge] OFF
SET IDENTITY_INSERT [dbo].[Materijali] ON 

INSERT [dbo].[Materijali] ([MaterijalId], [Naziv], [BlobName], [Url], [DateCreated], [PredmetId], [NastavnikId], [Rating], [BrojOcjena]) VALUES (3, N'_forma za finalnu ocjenu 2018_public.xlsx', N'24210860-fbc5-48a0-a1ec-e7d2d6a3663f', N'http://srednjeskole.blob.core.windows.net/srednjeskole/24210860-fbc5-48a0-a1ec-e7d2d6a3663f', CAST(N'2018-08-18T08:32:10.227' AS DateTime), 13, 5, CAST(4.50 AS Decimal(9, 2)), 2)
INSERT [dbo].[Materijali] ([MaterijalId], [Naziv], [BlobName], [Url], [DateCreated], [PredmetId], [NastavnikId], [Rating], [BrojOcjena]) VALUES (4, N'_forma za finalnu ocjenu 2018_public.xlsx', N'24210860-fbc5-48a0-a1ec-e7d2d6a3663f', N'http://srednjeskole.blob.core.windows.net/srednjeskole/24210860-fbc5-48a0-a1ec-e7d2d6a3663f', CAST(N'2018-08-18T08:32:20.773' AS DateTime), 14, 5, CAST(5.00 AS Decimal(9, 2)), 1)
INSERT [dbo].[Materijali] ([MaterijalId], [Naziv], [BlobName], [Url], [DateCreated], [PredmetId], [NastavnikId], [Rating], [BrojOcjena]) VALUES (5, N'_forma za finalnu ocjenu 2017_public.xlsx', N'24210860-fbc5-48a0-a1ec-e7d2d6a3663f', N'http://srednjeskole.blob.core.windows.net/srednjeskole/24210860-fbc5-48a0-a1ec-e7d2d6a3663f', CAST(N'2018-08-18T08:32:30.150' AS DateTime), 14, 5, CAST(5.00 AS Decimal(9, 2)), 1)
SET IDENTITY_INSERT [dbo].[Materijali] OFF
SET IDENTITY_INSERT [dbo].[MaterijaliOcjene] ON 

INSERT [dbo].[MaterijaliOcjene] ([MaterijaliOcjeneId], [MaterijalId], [UcenikId], [Ocjena]) VALUES (9, 7, 17, 5)
INSERT [dbo].[MaterijaliOcjene] ([MaterijaliOcjeneId], [MaterijalId], [UcenikId], [Ocjena]) VALUES (10, 14, 16, 5)
INSERT [dbo].[MaterijaliOcjene] ([MaterijaliOcjeneId], [MaterijalId], [UcenikId], [Ocjena]) VALUES (11, 6, 17, 4)
SET IDENTITY_INSERT [dbo].[MaterijaliOcjene] OFF
SET IDENTITY_INSERT [dbo].[Obavijesti] ON 

INSERT [dbo].[Obavijesti] ([ObavijestId], [Naslov], [Tekst], [KorisnikId], [Datum]) VALUES (2, N'prijemni ispit', N'drugi prijemni ispit ce se odrzati sad nekad :D
hehe', 9, CAST(N'2018-08-30T22:15:19.183' AS DateTime))
INSERT [dbo].[Obavijesti] ([ObavijestId], [Naslov], [Tekst], [KorisnikId], [Datum]) VALUES (4, N'Update :: Push notifikacije implementirane', N'Prvi put test iz desktop aplikacije 09.03.2018 .. očekuje se push na telefonu :D', 18, CAST(N'2018-09-03T21:50:11.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[Obavijesti] OFF
SET IDENTITY_INSERT [dbo].[Predaje] ON 

INSERT [dbo].[Predaje] ([PredajeId], [NastavnikId], [PredmetId], [RazredId]) VALUES (1, 9, 15, 4)
INSERT [dbo].[Predaje] ([PredajeId], [NastavnikId], [PredmetId], [RazredId]) VALUES (2, 9, 13, 4)
INSERT [dbo].[Predaje] ([PredajeId], [NastavnikId], [PredmetId], [RazredId]) VALUES (3, 9, 14, 4)
SET IDENTITY_INSERT [dbo].[Predaje] OFF
SET IDENTITY_INSERT [dbo].[Predmeti] ON 

INSERT [dbo].[Predmeti] ([PredmetId], [Naziv], [Oznaka], [Razred]) VALUES (11, N'Engleski Jezik', N'EJ', 1)
INSERT [dbo].[Predmeti] ([PredmetId], [Naziv], [Oznaka], [Razred]) VALUES (12, N'Njemački jezik', N'NJ', 1)
INSERT [dbo].[Predmeti] ([PredmetId], [Naziv], [Oznaka], [Razred]) VALUES (13, N'Matematika I', N'MAT I', 1)
SET IDENTITY_INSERT [dbo].[Predmeti] OFF
SET IDENTITY_INSERT [dbo].[Razredi] ON 

INSERT [dbo].[Razredi] ([RazredId], [RazredBrojcano], [Odjeljenje], [Oznaka], [SkolskaGodinaId], [NastavnikId], [SmjerId], [Aktivan]) VALUES (4, 1, N'a', N'1-a', 4, 9, 4, 1)
INSERT [dbo].[Razredi] ([RazredId], [RazredBrojcano], [Odjeljenje], [Oznaka], [SkolskaGodinaId], [NastavnikId], [SmjerId], [Aktivan]) VALUES (5, 1, N'b', N'1-b', 4, 5, 5, 1)
SET IDENTITY_INSERT [dbo].[Razredi] OFF
SET IDENTITY_INSERT [dbo].[SkolskeGodine] ON 

INSERT [dbo].[SkolskeGodine] ([SkolskaGodinaId], [Naziv]) VALUES (1, N'2015/16')
INSERT [dbo].[SkolskeGodine] ([SkolskaGodinaId], [Naziv]) VALUES (2, N'2016/17')
INSERT [dbo].[SkolskeGodine] ([SkolskaGodinaId], [Naziv]) VALUES (3, N'2017/18')
SET IDENTITY_INSERT [dbo].[SkolskeGodine] OFF
SET IDENTITY_INSERT [dbo].[Smjerovi] ON 

INSERT [dbo].[Smjerovi] ([SmjerId], [Naziv], [Opis], [SkolskaGodinaId]) VALUES (4, N'Matematika-Informatika', N'Matematičko informatički smjer', 3)
INSERT [dbo].[Smjerovi] ([SmjerId], [Naziv], [Opis], [SkolskaGodinaId]) VALUES (5, N'Informatika', N'Informaticki smjer', 3)
INSERT [dbo].[Smjerovi] ([SmjerId], [Naziv], [Opis], [SkolskaGodinaId]) VALUES (6, N'test desktop', N'opis desktop smjera', 4)
SET IDENTITY_INSERT [dbo].[Smjerovi] OFF
SET IDENTITY_INSERT [dbo].[SmjerPredmet] ON 

INSERT [dbo].[SmjerPredmet] ([SmjerPredmetId], [BrojCasova], [PredmetId], [SmjerId]) VALUES (18, 0, 11, 6)
INSERT [dbo].[SmjerPredmet] ([SmjerPredmetId], [BrojCasova], [PredmetId], [SmjerId]) VALUES (19, 0, 13, 6)
INSERT [dbo].[SmjerPredmet] ([SmjerPredmetId], [BrojCasova], [PredmetId], [SmjerId]) VALUES (20, 0, 14, 6)
SET IDENTITY_INSERT [dbo].[SmjerPredmet] OFF
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
SET IDENTITY_INSERT [dbo].[UceniciOcjene] ON 

INSERT [dbo].[UceniciOcjene] ([Id], [UcenikId], [PredajeId], [Vrijednost], [Datum], [TipOcjene], [Napomena]) VALUES (2, 17, 1, 5, CAST(N'2018-08-22T00:00:00.000' AS DateTime), NULL, N'kontrolni rad')
INSERT [dbo].[UceniciOcjene] ([Id], [UcenikId], [PredajeId], [Vrijednost], [Datum], [TipOcjene], [Napomena]) VALUES (3, 16, 1, 5, CAST(N'2018-08-22T00:00:00.000' AS DateTime), NULL, N'kontrolni rad')
INSERT [dbo].[UceniciOcjene] ([Id], [UcenikId], [PredajeId], [Vrijednost], [Datum], [TipOcjene], [Napomena]) VALUES (4, 16, 1, 4, CAST(N'2018-08-31T00:00:00.000' AS DateTime), NULL, N'usmeno')
SET IDENTITY_INSERT [dbo].[UceniciOcjene] OFF
SET IDENTITY_INSERT [dbo].[UceniciRazredi] ON 

INSERT [dbo].[UceniciRazredi] ([UcenikRazrediId], [RedniBroj], [SkolskaGodina], [UcenikId], [RazredId]) VALUES (1, 1, N'2018/19', 16, 4)
INSERT [dbo].[UceniciRazredi] ([UcenikRazrediId], [RedniBroj], [SkolskaGodina], [UcenikId], [RazredId]) VALUES (2, 2, N'2018/19', 17, 4)
INSERT [dbo].[UceniciRazredi] ([UcenikRazrediId], [RedniBroj], [SkolskaGodina], [UcenikId], [RazredId]) VALUES (3, 3, N'2018/19', 20, 4)
SET IDENTITY_INSERT [dbo].[UceniciRazredi] OFF
SET IDENTITY_INSERT [dbo].[Uloge] ON 

INSERT [dbo].[Uloge] ([UlogaId], [Naziv], [SuperAdministrator], [Administrator], [Nastavnik], [Ucenik], [Roditelj]) VALUES (1, N'Administrator', 0, 1, 0, 0, 0)
INSERT [dbo].[Uloge] ([UlogaId], [Naziv], [SuperAdministrator], [Administrator], [Nastavnik], [Ucenik], [Roditelj]) VALUES (2, N'Nastavnik', 0, 0, 1, 0, 0)
INSERT [dbo].[Uloge] ([UlogaId], [Naziv], [SuperAdministrator], [Administrator], [Nastavnik], [Ucenik], [Roditelj]) VALUES (3, N'Roditelj', 0, 0, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Uloge] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [CS_KorisnickoIme]    Script Date: 9/4/2018 1:55:06 PM ******/
ALTER TABLE [dbo].[Korisnici] ADD  CONSTRAINT [CS_KorisnickoIme] UNIQUE NONCLUSTERED 
(
	[KorisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 9/4/2018 1:55:06 PM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Materijali] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Materijali] ADD  DEFAULT ((0)) FOR [BrojOcjena]
GO
ALTER TABLE [dbo].[AutorizacijskiToken]  WITH CHECK ADD  CONSTRAINT [FK_dbo_AutorizacijskiToken_dbo_Korisnici_KorisnikId] FOREIGN KEY([KorisnikId])
REFERENCES [dbo].[Korisnici] ([Id])
GO
ALTER TABLE [dbo].[AutorizacijskiToken] CHECK CONSTRAINT [FK_dbo_AutorizacijskiToken_dbo_Korisnici_KorisnikId]
GO
ALTER TABLE [dbo].[Casovi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Casovi_dbo_Nastavnici_NastavnikId] FOREIGN KEY([NastavnikId])
REFERENCES [dbo].[Korisnici_Nastavnici] ([Id])
GO
ALTER TABLE [dbo].[Casovi] CHECK CONSTRAINT [FK_dbo_Casovi_dbo_Nastavnici_NastavnikId]
GO
ALTER TABLE [dbo].[Izostanci]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Izostanci_dbo_Casovi_CasId] FOREIGN KEY([CasId])
REFERENCES [dbo].[Casovi] ([CasId])
GO
ALTER TABLE [dbo].[Izostanci] CHECK CONSTRAINT [FK_dbo_Izostanci_dbo_Casovi_CasId]
GO
ALTER TABLE [dbo].[Izostanci]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Izostanci_dbo_Ucenici_UcenikId] FOREIGN KEY([UcenikId])
REFERENCES [dbo].[Korisnici_Ucenici] ([Id])
GO
ALTER TABLE [dbo].[Izostanci] CHECK CONSTRAINT [FK_dbo_Izostanci_dbo_Ucenici_UcenikId]
GO
ALTER TABLE [dbo].[Korisnici_Nastavnici]  WITH CHECK ADD  CONSTRAINT [FK_Nastavnici_inherits_Korisnici] FOREIGN KEY([Id])
REFERENCES [dbo].[Korisnici] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Korisnici_Nastavnici] CHECK CONSTRAINT [FK_Nastavnici_inherits_Korisnici]
GO
ALTER TABLE [dbo].[Korisnici_Ucenici]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Ucenici_dbo_Smjerovi_SmjerId] FOREIGN KEY([SmjerId])
REFERENCES [dbo].[Smjerovi] ([SmjerId])
GO
ALTER TABLE [dbo].[Korisnici_Ucenici] CHECK CONSTRAINT [FK_dbo_Ucenici_dbo_Smjerovi_SmjerId]
GO
ALTER TABLE [dbo].[Korisnici_Ucenici]  WITH CHECK ADD  CONSTRAINT [FK_Ucenici_inherits_Korisnici] FOREIGN KEY([Id])
REFERENCES [dbo].[Korisnici] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Korisnici_Ucenici] CHECK CONSTRAINT [FK_Ucenici_inherits_Korisnici]
GO
ALTER TABLE [dbo].[KorisniciUloge]  WITH CHECK ADD  CONSTRAINT [FK_dbo_KorisniciUloge_dbo_Korisnici_KorisnikID] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnici] ([Id])
GO
ALTER TABLE [dbo].[KorisniciUloge] CHECK CONSTRAINT [FK_dbo_KorisniciUloge_dbo_Korisnici_KorisnikID]
GO
ALTER TABLE [dbo].[KorisniciUloge]  WITH CHECK ADD  CONSTRAINT [FK_dbo_KorisniciUloge_dbo_Uloge_UlogaID] FOREIGN KEY([UlogaID])
REFERENCES [dbo].[Uloge] ([UlogaId])
GO
ALTER TABLE [dbo].[KorisniciUloge] CHECK CONSTRAINT [FK_dbo_KorisniciUloge_dbo_Uloge_UlogaID]
GO
ALTER TABLE [dbo].[Materijali]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Materijali_dbo_Nastavnici_NastavnikId] FOREIGN KEY([NastavnikId])
REFERENCES [dbo].[Korisnici_Nastavnici] ([Id])
GO
ALTER TABLE [dbo].[Materijali] CHECK CONSTRAINT [FK_dbo_Materijali_dbo_Nastavnici_NastavnikId]
GO
ALTER TABLE [dbo].[Materijali]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Materijali_dbo_Predmeti_PredmetId] FOREIGN KEY([PredmetId])
REFERENCES [dbo].[Predmeti] ([PredmetId])
GO
ALTER TABLE [dbo].[Materijali] CHECK CONSTRAINT [FK_dbo_Materijali_dbo_Predmeti_PredmetId]
GO
ALTER TABLE [dbo].[MaterijaliOcjene]  WITH CHECK ADD  CONSTRAINT [FK_dbo_MaterijaliOcjene_dbo_Materijali_MaterijalId] FOREIGN KEY([MaterijalId])
REFERENCES [dbo].[Materijali] ([MaterijalId])
GO
ALTER TABLE [dbo].[MaterijaliOcjene] CHECK CONSTRAINT [FK_dbo_MaterijaliOcjene_dbo_Materijali_MaterijalId]
GO
ALTER TABLE [dbo].[MaterijaliOcjene]  WITH CHECK ADD  CONSTRAINT [FK_dbo_MaterijaliOcjene_dbo_Ucenici_UcenikId] FOREIGN KEY([UcenikId])
REFERENCES [dbo].[Korisnici_Ucenici] ([Id])
GO
ALTER TABLE [dbo].[MaterijaliOcjene] CHECK CONSTRAINT [FK_dbo_MaterijaliOcjene_dbo_Ucenici_UcenikId]
GO
ALTER TABLE [dbo].[Obavijesti]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Obavijesti_dbo_Korisnici_KorisnikId] FOREIGN KEY([KorisnikId])
REFERENCES [dbo].[Korisnici] ([Id])
GO
ALTER TABLE [dbo].[Obavijesti] CHECK CONSTRAINT [FK_dbo_Obavijesti_dbo_Korisnici_KorisnikId]
GO
ALTER TABLE [dbo].[Predaje]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Predaje_dbo_Nastavnici_NastavnikId] FOREIGN KEY([NastavnikId])
REFERENCES [dbo].[Korisnici_Nastavnici] ([Id])
GO
ALTER TABLE [dbo].[Predaje] CHECK CONSTRAINT [FK_dbo_Predaje_dbo_Nastavnici_NastavnikId]
GO
ALTER TABLE [dbo].[Predaje]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Predaje_dbo_Predmeti_PredmetId] FOREIGN KEY([PredmetId])
REFERENCES [dbo].[Predmeti] ([PredmetId])
GO
ALTER TABLE [dbo].[Predaje] CHECK CONSTRAINT [FK_dbo_Predaje_dbo_Predmeti_PredmetId]
GO
ALTER TABLE [dbo].[Predaje]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Predaje_dbo_Razredi_RazredId] FOREIGN KEY([RazredId])
REFERENCES [dbo].[Razredi] ([RazredId])
GO
ALTER TABLE [dbo].[Predaje] CHECK CONSTRAINT [FK_dbo_Predaje_dbo_Razredi_RazredId]
GO
ALTER TABLE [dbo].[Razredi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Razredi_dbo_Nastavnici_NastavnikId] FOREIGN KEY([NastavnikId])
REFERENCES [dbo].[Korisnici_Nastavnici] ([Id])
GO
ALTER TABLE [dbo].[Razredi] CHECK CONSTRAINT [FK_dbo_Razredi_dbo_Nastavnici_NastavnikId]
GO
ALTER TABLE [dbo].[Razredi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Razredi_dbo_SkolskeGodine_SkolskaGodinaId] FOREIGN KEY([SkolskaGodinaId])
REFERENCES [dbo].[SkolskeGodine] ([SkolskaGodinaId])
GO
ALTER TABLE [dbo].[Razredi] CHECK CONSTRAINT [FK_dbo_Razredi_dbo_SkolskeGodine_SkolskaGodinaId]
GO
ALTER TABLE [dbo].[Razredi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Razredi_dbo_Smjerovi_SmjerId] FOREIGN KEY([SmjerId])
REFERENCES [dbo].[Smjerovi] ([SmjerId])
GO
ALTER TABLE [dbo].[Razredi] CHECK CONSTRAINT [FK_dbo_Razredi_dbo_Smjerovi_SmjerId]
GO
ALTER TABLE [dbo].[Smjerovi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Smjerovi_dbo_SkolskeGodine_SkolskaGodinaId] FOREIGN KEY([SkolskaGodinaId])
REFERENCES [dbo].[SkolskeGodine] ([SkolskaGodinaId])
GO
ALTER TABLE [dbo].[Smjerovi] CHECK CONSTRAINT [FK_dbo_Smjerovi_dbo_SkolskeGodine_SkolskaGodinaId]
GO
ALTER TABLE [dbo].[SmjerPredmet]  WITH CHECK ADD  CONSTRAINT [FK_dbo_SmjerPredmet_dbo_Predmeti_PredmetId] FOREIGN KEY([PredmetId])
REFERENCES [dbo].[Predmeti] ([PredmetId])
GO
ALTER TABLE [dbo].[SmjerPredmet] CHECK CONSTRAINT [FK_dbo_SmjerPredmet_dbo_Predmeti_PredmetId]
GO
ALTER TABLE [dbo].[SmjerPredmet]  WITH CHECK ADD  CONSTRAINT [FK_dbo_SmjerPredmet_dbo_Smjerovi_SmjerId] FOREIGN KEY([SmjerId])
REFERENCES [dbo].[Smjerovi] ([SmjerId])
GO
ALTER TABLE [dbo].[SmjerPredmet] CHECK CONSTRAINT [FK_dbo_SmjerPredmet_dbo_Smjerovi_SmjerId]
GO
ALTER TABLE [dbo].[UceniciCasovi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_UceniciCasovi_dbo_Casovi_CasId] FOREIGN KEY([CasId])
REFERENCES [dbo].[Casovi] ([CasId])
GO
ALTER TABLE [dbo].[UceniciCasovi] CHECK CONSTRAINT [FK_dbo_UceniciCasovi_dbo_Casovi_CasId]
GO
ALTER TABLE [dbo].[UceniciCasovi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_UceniciCasovi_dbo_Ucenici_UcenikId] FOREIGN KEY([UcenikId])
REFERENCES [dbo].[Korisnici_Ucenici] ([Id])
GO
ALTER TABLE [dbo].[UceniciCasovi] CHECK CONSTRAINT [FK_dbo_UceniciCasovi_dbo_Ucenici_UcenikId]
GO
ALTER TABLE [dbo].[UceniciOcjene]  WITH CHECK ADD  CONSTRAINT [FK_dbo_UceniciOcjene_dbo_Predaje_PredajeId] FOREIGN KEY([PredajeId])
REFERENCES [dbo].[Predaje] ([PredajeId])
GO
ALTER TABLE [dbo].[UceniciOcjene] CHECK CONSTRAINT [FK_dbo_UceniciOcjene_dbo_Predaje_PredajeId]
GO
ALTER TABLE [dbo].[UceniciOcjene]  WITH CHECK ADD  CONSTRAINT [FK_dbo_UceniciOcjene_dbo_Ucenici_UcenikId] FOREIGN KEY([UcenikId])
REFERENCES [dbo].[Korisnici_Ucenici] ([Id])
GO
ALTER TABLE [dbo].[UceniciOcjene] CHECK CONSTRAINT [FK_dbo_UceniciOcjene_dbo_Ucenici_UcenikId]
GO
ALTER TABLE [dbo].[UceniciRazredi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_UceniciRazredi_dbo_Razredi_RazredId] FOREIGN KEY([RazredId])
REFERENCES [dbo].[Razredi] ([RazredId])
GO
ALTER TABLE [dbo].[UceniciRazredi] CHECK CONSTRAINT [FK_dbo_UceniciRazredi_dbo_Razredi_RazredId]
GO
ALTER TABLE [dbo].[UceniciRazredi]  WITH CHECK ADD  CONSTRAINT [FK_dbo_UceniciRazredi_dbo_Ucenici_UcenikId] FOREIGN KEY([UcenikId])
REFERENCES [dbo].[Korisnici_Ucenici] ([Id])
GO
ALTER TABLE [dbo].[UceniciRazredi] CHECK CONSTRAINT [FK_dbo_UceniciRazredi_dbo_Ucenici_UcenikId]
GO
/****** Object:  StoredProcedure [dbo].[sp_alterdiagram]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_alterdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null,
		@version 	int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId 			int
		declare @retval 		int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @ShouldChangeUID	int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid ARG', 16, 1)
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();	 
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		revert;
	
		select @ShouldChangeUID = 0
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		
		if(@DiagId IS NULL or (@IsDbo = 0 and @theId <> @UIDFound))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end
	
		if(@IsDbo <> 0)
		begin
			if(@UIDFound is null or USER_NAME(@UIDFound) is null) -- invalid principal_id
			begin
				select @ShouldChangeUID = 1 ;
			end
		end

		-- update dds data			
		update dbo.sysdiagrams set definition = @definition where diagram_id = @DiagId ;

		-- change owner
		if(@ShouldChangeUID = 1)
			update dbo.sysdiagrams set principal_id = @theId where diagram_id = @DiagId ;

		-- update dds version
		if(@version is not null)
			update dbo.sysdiagrams set version = @version where diagram_id = @DiagId ;

		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_creatediagram]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_creatediagram]
	(
		@diagramname 	sysname,
		@owner_id		int	= null, 	
		@version 		int,
		@definition 	varbinary(max)
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
	
		declare @theId int
		declare @retval int
		declare @IsDbo	int
		declare @userName sysname
		if(@version is null or @diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID(); 
		select @IsDbo = IS_MEMBER(N'db_owner');
		revert; 
		
		if @owner_id is null
		begin
			select @owner_id = @theId;
		end
		else
		begin
			if @theId <> @owner_id
			begin
				if @IsDbo = 0
				begin
					RAISERROR (N'E_INVALIDARG', 16, 1);
					return -1
				end
				select @theId = @owner_id
			end
		end
		-- next 2 line only for test, will be removed after define name unique
		if EXISTS(select diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @diagramname)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end
	
		insert into dbo.sysdiagrams(name, principal_id , version, definition)
				VALUES(@diagramname, @theId, @version, @definition) ;
		
		select @retval = @@IDENTITY 
		return @retval
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_dropdiagram]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_dropdiagram]
	(
		@diagramname 	sysname,
		@owner_id	int	= null
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
	
		if(@diagramname is null)
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT; 
		
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		delete from dbo.sysdiagrams where diagram_id = @DiagId;
	
		return 0;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagramdefinition]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagramdefinition]
	(
		@diagramname 	sysname,
		@owner_id	int	= null 		
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		set nocount on

		declare @theId 		int
		declare @IsDbo 		int
		declare @DiagId		int
		declare @UIDFound	int
	
		if(@diagramname is null)
		begin
			RAISERROR (N'E_INVALIDARG', 16, 1);
			return -1
		end
	
		execute as caller;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner');
		if(@owner_id is null)
			select @owner_id = @theId;
		revert; 
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname;
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId ))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1);
			return -3
		end

		select version, definition FROM dbo.sysdiagrams where diagram_id = @DiagId ; 
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_helpdiagrams]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_helpdiagrams]
	(
		@diagramname sysname = NULL,
		@owner_id int = NULL
	)
	WITH EXECUTE AS N'dbo'
	AS
	BEGIN
		DECLARE @user sysname
		DECLARE @dboLogin bit
		EXECUTE AS CALLER;
			SET @user = USER_NAME();
			SET @dboLogin = CONVERT(bit,IS_MEMBER('db_owner'));
		REVERT;
		SELECT
			[Database] = DB_NAME(),
			[Name] = name,
			[ID] = diagram_id,
			[Owner] = USER_NAME(principal_id),
			[OwnerID] = principal_id
		FROM
			sysdiagrams
		WHERE
			(@dboLogin = 1 OR USER_NAME(principal_id) = @user) AND
			(@diagramname IS NULL OR name = @diagramname) AND
			(@owner_id IS NULL OR principal_id = @owner_id)
		ORDER BY
			4, 5, 1
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_renamediagram]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_renamediagram]
	(
		@diagramname 		sysname,
		@owner_id		int	= null,
		@new_diagramname	sysname
	
	)
	WITH EXECUTE AS 'dbo'
	AS
	BEGIN
		set nocount on
		declare @theId 			int
		declare @IsDbo 			int
		
		declare @UIDFound 		int
		declare @DiagId			int
		declare @DiagIdTarg		int
		declare @u_name			sysname
		if((@diagramname is null) or (@new_diagramname is null))
		begin
			RAISERROR ('Invalid value', 16, 1);
			return -1
		end
	
		EXECUTE AS CALLER;
		select @theId = DATABASE_PRINCIPAL_ID();
		select @IsDbo = IS_MEMBER(N'db_owner'); 
		if(@owner_id is null)
			select @owner_id = @theId;
		REVERT;
	
		select @u_name = USER_NAME(@owner_id)
	
		select @DiagId = diagram_id, @UIDFound = principal_id from dbo.sysdiagrams where principal_id = @owner_id and name = @diagramname 
		if(@DiagId IS NULL or (@IsDbo = 0 and @UIDFound <> @theId))
		begin
			RAISERROR ('Diagram does not exist or you do not have permission.', 16, 1)
			return -3
		end
	
		-- if((@u_name is not null) and (@new_diagramname = @diagramname))	-- nothing will change
		--	return 0;
	
		if(@u_name is null)
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @theId and name = @new_diagramname
		else
			select @DiagIdTarg = diagram_id from dbo.sysdiagrams where principal_id = @owner_id and name = @new_diagramname
	
		if((@DiagIdTarg is not null) and  @DiagId <> @DiagIdTarg)
		begin
			RAISERROR ('The name is already used.', 16, 1);
			return -2
		end		
	
		if(@u_name is null)
			update dbo.sysdiagrams set [name] = @new_diagramname, principal_id = @theId where diagram_id = @DiagId
		else
			update dbo.sysdiagrams set [name] = @new_diagramname where diagram_id = @DiagId
		return 0
	END
	
GO
/****** Object:  StoredProcedure [dbo].[sp_upgraddiagrams]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[sp_upgraddiagrams]
	AS
	BEGIN
		IF OBJECT_ID(N'dbo.sysdiagrams') IS NOT NULL
			return 0;
	
		CREATE TABLE dbo.sysdiagrams
		(
			name sysname NOT NULL,
			principal_id int NOT NULL,	-- we may change it to varbinary(85)
			diagram_id int PRIMARY KEY IDENTITY,
			version int,
	
			definition varbinary(max)
			CONSTRAINT UK_principal_name UNIQUE
			(
				principal_id,
				name
			)
		);


		/* Add this if we need to have some form of extended properties for diagrams */
		/*
		IF OBJECT_ID(N'dbo.sysdiagram_properties') IS NULL
		BEGIN
			CREATE TABLE dbo.sysdiagram_properties
			(
				diagram_id int,
				name sysname,
				value varbinary(max) NOT NULL
			)
		END
		*/

		IF OBJECT_ID(N'dbo.dtproperties') IS NOT NULL
		begin
			insert into dbo.sysdiagrams
			(
				[name],
				[principal_id],
				[version],
				[definition]
			)
			select	 
				convert(sysname, dgnm.[uvalue]),
				DATABASE_PRINCIPAL_ID(N'dbo'),			-- will change to the sid of sa
				0,							-- zero for old format, dgdef.[version],
				dgdef.[lvalue]
			from dbo.[dtproperties] dgnm
				inner join dbo.[dtproperties] dggd on dggd.[property] = 'DtgSchemaGUID' and dggd.[objectid] = dgnm.[objectid]	
				inner join dbo.[dtproperties] dgdef on dgdef.[property] = 'DtgSchemaDATA' and dgdef.[objectid] = dgnm.[objectid]
				
			where dgnm.[property] = 'DtgSchemaNAME' and dggd.[uvalue] like N'_EA3E6268-D998-11CE-9454-00AA00A3F36E_' 
			return 2;
		end
		return 1;
	END
	
GO
/****** Object:  StoredProcedure [dbo].[ssp_Korisnici_GetById]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Korisnici_GetById]
	@korisnikId INT = null
AS
	SELECT K.Id, K.Ime, K.Prezime, K.KorisnickoIme, K.Email, STRING_AGG(U.Naziv, ',') AS 'Uloga', K.DatumRodjenja, K.JMBG, K.Telefon
	FROM Korisnici AS K
		JOIN KorisniciUloge AS KU ON K.Id = KU.KorisnikID
		JOIN Uloge AS U ON KU.UlogaID = U.UlogaId
	WHERE K.Id = @korisnikId OR K.Id IS NULL
	GROUP BY K.Id, K.Ime, K.Prezime, K.KorisnickoIme, K.Email, K.DatumRodjenja, K.JMBG, K.Telefon
GO
/****** Object:  StoredProcedure [dbo].[ssp_Korisnici_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Korisnici_Insert]
(
	@Ime NVARCHAR(50),
	@Prezime NVARCHAR(50),
	@Email NVARCHAR(100),
	@Telefon NVARCHAR(20),
	@KorisnickoIme NVARCHAR(50),
	@LozinkaSalt NVARCHAR(50),
	@LozinkaHash NVARCHAR(50),
	@JMBG NVARCHAR(13),
	@DatumRodjenja DATETIME,
	@Slika VARBINARY (MAX) = NULL,
	@SlikaThumb VARBINARY (MAX) = NULL
)
AS

	INSERT INTO Korisnici (Ime, Prezime, Email, Telefon, KorisnickoIme, LozinkaSalt, LozinkaHash, Aktivan, JMBG, DatumRodjenja, Slika, SlikaThumb)
	VALUES (@Ime, @Prezime, @Email, @Telefon, @KorisnickoIme, @LozinkaSalt, @LozinkaHash, 1, @JMBG, @DatumRodjenja, @Slika, @SlikaThumb)
	SELECT @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[ssp_Korisnici_Pretraga]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Korisnici_Pretraga]
(
	@Ime NVARCHAR(100) = null,
	@Prezime NVARCHAR(100) = null,
	@UlogaID INT = null
)
AS	
    SELECT K.Id, K.Ime, K.Prezime, K.KorisnickoIme, K.Email, STRING_AGG(U.Naziv, ', ') AS 'Uloga'
    FROM Korisnici AS K 
		JOIN KorisniciUloge AS KU ON K.Id = KU.KorisnikID
		JOIN Uloge AS U ON KU.UlogaID = U.UlogaId
    WHERE 
		(LOWER(K.Ime) like LOWER(@Ime) OR @Ime IS NULL) AND
		(LOWER(K.Prezime) like LOWER(@Prezime) OR @Prezime IS NULL) AND
		(U.UlogaId = @UlogaID OR @UlogaID IS NULL)
	GROUP BY K.Id, K.Ime, K.Prezime, K.KorisnickoIme, K.Email
GO
/****** Object:  StoredProcedure [dbo].[ssp_Korisnici_SelectAll]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Korisnici_SelectAll]
AS
	SELECT Id,Ime,Prezime,KorisnickoIme, Email, U.Naziv AS 'Uloga' FROM dbo.Korisnici AS K
		JOIN dbo.KorisniciUloge AS KU ON K.Id = KU.KorisnikID
		JOIN dbo.Uloge AS U ON KU.UlogaID = U.UlogaId
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[ssp_Korisnici_Update]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Korisnici_Update]
(
    @KorisnikID INT,
	@Ime NVARCHAR(50),
	@Prezime NVARCHAR(50),
	@Email NVARCHAR(100),
	@Telefon NVARCHAR(20),
	@KorisnickoIme NVARCHAR(50),
	@LozinkaSalt NVARCHAR(50) = null,
	@LozinkaHash NVARCHAR(50) = null,
	@Aktivan BIT,
	@JMBG NVARCHAR(13),
	@DatumRodjenja DATETIME
)
AS
	
	IF @LozinkaHash IS NULL
	BEGIN
		UPDATE Korisnici
		SET
			Ime = @Ime, 
			Prezime = @Prezime,
			Email = @Email,
			Telefon = @Telefon,
			KorisnickoIme = @KorisnickoIme,
			Aktivan = @Aktivan,
			JMBG = @JMBG,
			@DatumRodjenja = @DatumRodjenja
		WHERE Id = @KorisnikID
	END
	ELSE
	BEGIN
		UPDATE Korisnici
		SET
			Ime = @Ime, 
			Prezime = @Prezime,
			Email = @Email,
			Telefon = @Telefon,
			KorisnickoIme = @KorisnickoIme,
			Aktivan = @Aktivan,
			LozinkaSalt = @LozinkaSalt,
			LozinkaHash = @LozinkaHash,
			JMBG = @JMBG,
			@DatumRodjenja = @DatumRodjenja
		WHERE Id = @KorisnikID
	END
GO
/****** Object:  StoredProcedure [dbo].[ssp_KorisniciUloge_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_KorisniciUloge_Insert]
	@KorisnikId int,
	@UlogaId int
AS
	INSERT INTO KorisniciUloge(KorisnikID, UlogaID) VALUES (@KorisnikId, @UlogaId)
GO
/****** Object:  StoredProcedure [dbo].[ssp_KorisniciUloge_Remove]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_KorisniciUloge_Remove]
	@KorisnikId int
AS
	DELETE FROM KorisniciUloge WHERE KorisnikID = @KorisnikId
GO
/****** Object:  StoredProcedure [dbo].[ssp_Materijali_GetByPredmetId]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Materijali_GetByPredmetId]
	@predmetId INT
AS
	SELECT M.MaterijalId,M.Naziv, M.Url, M.BlobName, CONVERT(nvarchar,M.DateCreated,104) AS 'Datum', 
			M.BrojOcjena, M.Rating, M.PredmetId, M.NastavnikId, N.Zvanje + ' ' + K.Ime + ' ' + K.Prezime as 'nastavnik',
			N.Zvanje + ' ' + K.Ime + ' ' + K.Prezime + ' ' +CONVERT(nvarchar,M.DateCreated,104) + ' ' + CONVERT(nvarchar,M.Rating) + '/5.0 ' + CONVERT(nvarchar,BrojOcjena) + ' ocjena' AS 'detalji'
	FROM Materijali AS M
		JOIN Korisnici_Nastavnici AS N ON M.NastavnikId = N.Id
		JOIN Korisnici AS K ON N.Id = K.Id
	WHERE M.PredmetId = @predmetId
	ORDER BY M.DateCreated DESC
	
GO
/****** Object:  StoredProcedure [dbo].[ssp_Materijali_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Materijali_Insert]
(
    @Naziv nvarchar(MAX),
	@BlobName nvarchar(MAX),
	@Url nvarchar (MAX),
	@DateCreated datetime,
	@PredmetId int,
	@NastavnikId int,
	@Rating decimal(9,2) = 0,
	@BrojOcjena int = 0
)
AS
BEGIN 
    INSERT INTO [dbo].[Materijali]
([Naziv],[BlobName],[Url],[DateCreated],[PredmetId],[NastavnikId],[Rating],[BrojOcjena])
     VALUES
          (@Naziv, @BlobName,@Url,@DateCreated,@PredmetId,@NastavnikId,@Rating,@BrojOcjena)
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Materijali_UpdateOcjene]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Materijali_UpdateOcjene]
(
@MaterijalId INT
)
AS
	UPDATE dbo.Materijali 
	SET Rating = T.Rating, 
		BrojOcjena = T.BrojOcjena
	FROM (
		SELECT CONVERT(DECIMAL(9,2),ROUND(AVG(MO.Ocjena+0.0),2)) AS 'Rating', COUNT(MO.Ocjena) AS 'BrojOcjena'
		FROM MaterijaliOcjene AS MO
		WHERE MO.MaterijalId = @MaterijalId
		) AS T
	WHERE MaterijalId = @MaterijalId
GO
/****** Object:  StoredProcedure [dbo].[ssp_MaterijaliOcjene_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_MaterijaliOcjene_Insert]
(
	@MaterijalId INT,
	@UcenikId INT,
	@Ocjena INT
)
AS
	INSERT INTO dbo.MaterijaliOcjene
	(
	   MaterijalId,UcenikId, Ocjena
	)
	VALUES	(@MaterijalId,@UcenikId,@Ocjena)
SELECT @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[ssp_Nastavnici_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Nastavnici_Insert]
(
	@Id INT,
	@Zvanje NVARCHAR(50),
	@NaucnaOblast NVARCHAR(MAX),
	@GodinaZaposlenja INT
)
AS
	INSERT INTO dbo.Korisnici_Nastavnici
	(
	    Id,
	    Zvanje,
	    NaucnaOblast,
	    GodinaZaposlenja
	)
	VALUES
	( @Id,@Zvanje,@NaucnaOblast,@GodinaZaposlenja)
GO
/****** Object:  StoredProcedure [dbo].[ssp_Nastavnici_NotRazrednici]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Nastavnici_NotRazrednici]
AS
BEGIN
SELECT KN.Id, KN.Zvanje + ' ' + K.Ime + ' ' + K.Prezime as 'nastavnik'
	FROM Korisnici AS K
		JOIN Korisnici_Nastavnici AS KN ON K.Id = KN.Id
	WHERE KN.Id NOT IN 
				(SELECT R.NastavnikId 
					FROM Razredi AS R 
					WHERE R.Aktivan = 1)
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Nastavnici_SelectAll]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Nastavnici_SelectAll]
AS
	SELECT K.Id, KN.Zvanje + ' ' + K.Ime + ' ' + K.Prezime AS 'nastavnik'
		FROM Korisnici AS K 
			JOIN Korisnici_Nastavnici AS KN ON K.Id = KN.Id
GO
/****** Object:  StoredProcedure [dbo].[ssp_Obavijesti_GetById]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Obavijesti_GetById]
(
@ObavijestId INT
)
AS
BEGIN  
    SELECT O.ObavijestId, O.Naslov,O.Tekst, CONVERT(nvarchar,O.Datum,104) + ' ' + CONVERT(nvarchar, O.Datum,108) AS 'Datum', O.KorisnikId, K.Ime + ' ' + K.Prezime AS 'Objavio'
	FROM Obavijesti AS O
		JOIN Korisnici AS K ON O.KorisnikId = K.Id
	WHERE O.ObavijestId = @ObavijestId
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Obavijesti_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Obavijesti_Insert]
(
	@Naslov NVARCHAR(150),
	@Tekst NVARCHAR(MAX),
	@KorisnikId INT,
	@Datum DATETIME
)
AS
	INSERT INTO dbo.Obavijesti
	(
	    Naslov, Tekst, KorisnikId, Datum
	)
	VALUES
	(@Naslov,@Tekst,@KorisnikId, @Datum)
GO
/****** Object:  StoredProcedure [dbo].[ssp_Obavijesti_Pretraga]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Obavijesti_Pretraga]
(
@naslov nvarchar(100) = null
)
AS
BEGIN  
    SELECT O.ObavijestId, O.Naslov,O.Tekst, CONVERT(nvarchar,O.Datum,104) + ' ' + CONVERT(nvarchar, O.Datum,108) AS 'Datum', O.KorisnikId, K.Ime + ' ' + K.Prezime AS 'Objavio'
	FROM Obavijesti AS O
		JOIn Korisnici AS K ON O.KorisnikId = K.Id
	WHERE @naslov IS NULL OR O.Naslov LIKE '%'+@naslov+'%'
	ORDER BY O.Datum DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Obavijesti_SelectAll]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Obavijesti_SelectAll]
AS
BEGIN  
    SELECT O.ObavijestId, O.Naslov,O.Tekst, CONVERT(nvarchar,O.Datum,104) + ' ' + CONVERT(nvarchar, O.Datum,108) AS 'Datum', O.KorisnikId, K.Ime + ' ' + K.Prezime AS 'Objavio'
	FROM Obavijesti AS O
		JOIn Korisnici AS K ON O.KorisnikId = K.Id
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Obavijesti_Update]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Obavijesti_Update]
(
	@ObavijestId INT,
	@Naslov NVARCHAR(150),
	@Tekst NVARCHAR(MAX),
	@Datum DATETIME
)
AS
	UPDATE dbo.Obavijesti
	SET
		Naslov = @Naslov,
		Tekst = @Tekst,
		Datum = @Datum
	WHERE ObavijestId = @ObavijestId
GO
/****** Object:  StoredProcedure [dbo].[ssp_Predaje_GetByNastavnik]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Predaje_GetByNastavnik]
(
    @NastavnikId INT
)
AS
BEGIN 
    SELECT P.PredajeId, P.NastavnikId, P.RazredId, PR.PredmetId, '[' + R.Oznaka + '] ' + PR.Naziv AS 'Naziv'
	FROM Korisnici AS K
		JOIN Predaje AS P ON K.Id = P.NastavnikId
		JOIN Predmeti AS PR ON P.PredmetId = PR.PredmetId
		JOIN Razredi AS R ON P.RazredId = R.RazredId
	WHERE K.Id = @NastavnikId
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Predaje_GetByNastavnikRazred]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Predaje_GetByNastavnikRazred]
(
    @NastavnikId INT,
	@RazredId INT
)
AS
BEGIN 
    SELECT P.PredajeId, P.NastavnikId, P.RazredId,PR.PredmetId, PR.Naziv
	FROM Korisnici AS K
		JOIN Predaje AS P ON K.Id = P.NastavnikId
		JOIN Predmeti AS PR ON P.PredmetId = PR.PredmetId
	WHERE K.Id = @NastavnikId AND P.RazredId = @RazredId
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Predaje_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Predaje_Insert]
(
  @NastavnikId INT,
  @PredmetId INT,
  @RazredId INT
)
AS
BEGIN
INSERT INTO [dbo].[Predaje]
           ([NastavnikId]
           ,[PredmetId]
           ,[RazredId])
     VALUES
           (@NastavnikId,@PredmetId,@RazredId)
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Predmeti_GetById]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Predmeti_GetById]
	@predmetId INT
AS
	SELECT PredmetId, Naziv, Oznaka, Razred
	FROM Predmeti 
	WHERE PredmetId = @predmetId
	ORDER BY Naziv
GO
/****** Object:  StoredProcedure [dbo].[ssp_Predmeti_GetByRazred]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Predmeti_GetByRazred]
	@razred INT
AS
	SELECT PredmetId, Naziv, Oznaka, Razred
	FROM Predmeti 
	WHERE Razred = @razred
	ORDER BY Naziv
GO
/****** Object:  StoredProcedure [dbo].[ssp_Razredi_GetAktivni]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Razredi_GetAktivni]
AS
BEGIN  
    SELECT R.RazredId, SG.Naziv AS 'SkolskaGodina', R.Oznaka , K.Ime + ' ' + K.Prezime AS 'Razrednik', S.Naziv AS 'Smjer'
	FROM Razredi AS R
		JOIN SkolskeGodine AS SG ON R.SkolskaGodinaId = SG.SkolskaGodinaId
		JOIN Smjerovi AS S ON R.SmjerId = S.SmjerId
		JOIN Korisnici AS K ON R.NastavnikId = K.Id		
	WHERE R.Aktivan = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Razredi_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Razredi_Insert]
(
	@RazredBrojcano INT,
	@Odjeljenje NVARCHAR(MAX),
	@Oznaka NVARCHAR(MAX),
	@SkolskaGodinaId INT,
	@NastavnikId INT,
	@SmjerId INT
)
AS
	INSERT INTO dbo.Razredi
	(
	    RazredBrojcano,
	    Odjeljenje,
	    Oznaka,
	    SkolskaGodinaId,
	    NastavnikId,
	    SmjerId,
		Aktivan
	)
	VALUES (@RazredBrojcano,@Odjeljenje,@Oznaka,@SkolskaGodinaId,@NastavnikId,@SmjerId,1)
SELECT @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[ssp_Razredi_Pretraga]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Razredi_Pretraga]
(
@oznaka nvarchar(100) = null
)
AS
BEGIN  
    SELECT R.RazredId, SG.Naziv AS 'SkolskaGodina', R.Oznaka , K.Ime + ' ' + K.Prezime AS 'Razrednik', S.Naziv AS 'Smjer'
	FROM Razredi AS R
		JOIN SkolskeGodine AS SG ON R.SkolskaGodinaId = SG.SkolskaGodinaId
		JOIN Smjerovi AS S ON R.SmjerId = S.SmjerId
		JOIN Korisnici AS K ON R.NastavnikId = K.Id		
	WHERE @oznaka IS NULL OR R.Oznaka LIKE '%'+@oznaka+'%' 
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Smjerovi_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Smjerovi_Insert]
(
	@Naziv NVARCHAR(MAX),
	@Opis NVARCHAR(MAX),
	@SkolskaGodinaId INT
)
AS
	INSERT INTO dbo.Smjerovi (Naziv,Opis,SkolskaGodinaId	)	
	VALUES (@Naziv, @Opis, @SkolskaGodinaId)
SELECT @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[ssp_SmjerPredmet_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_SmjerPredmet_Insert]
	@SmjerId int,
	@PredmetId INT,
	@BrojCasova INT
AS
	INSERT INTO SmjerPredmet(SmjerId, PredmetId, BrojCasova) VALUES (@SmjerId, @PredmetId, @BrojCasova)
GO
/****** Object:  StoredProcedure [dbo].[ssp_Ucenici_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Ucenici_Insert]
(
	@Id INT,
	@ImeRoditelja NVARCHAR(50),
	@GodinaUpisa INT,
	@SmjerId INT,
	@NazivOsnovneSkole NVARCHAR(MAX)
)
AS
	INSERT INTO dbo.Korisnici_Ucenici
	(
	    Id,	ImeRoditelja,GodinaUpisa,SmjerId, NazivOsnovneSkole
	)
	VALUES
	( @Id,@ImeRoditelja,@GodinaUpisa,@SmjerId,@NazivOsnovneSkole )
GO
/****** Object:  StoredProcedure [dbo].[ssp_UceniciOcjene_GetByUcenikRazred]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_UceniciOcjene_GetByUcenikRazred]
(
@UcenikId INT,
@RazredId INT
)
AS
BEGIN
	SELECT PR.Naziv AS 'Predmet', STRING_AGG(UO.Vrijednost,', ') AS 'Ocjene', CONVERT(DECIMAL(9,2),ROUND(AVG(UO.Vrijednost+0.0),2)) AS 'ProsjecnaOcjena'
FROM UceniciOcjene AS UO
	JOIN Korisnici AS K ON UO.UcenikId = K.Id
	JOIN Predaje AS P ON UO.PredajeId = P.PredajeId
	JOIN Predmeti AS PR ON P.PredmetId = PR.PredmetId
WHERE UO.UcenikId = @UcenikId AND P.RazredId = @RazredId
GROUP BY PR.Naziv
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_UceniciOcjene_GetRazredIzvjestaj]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_UceniciOcjene_GetRazredIzvjestaj]
(
@RazredId INT
)
AS
BEGIN
	SELECT PR.Naziv AS 'Predmet', K.Ime + ' ' + K.Prezime as 'Ucenik', CONVERT(DECIMAL(9,2),ROUND(AVG(UO.Vrijednost+0.0),2)) AS 'ProsjecnaOcjena'
FROM UceniciOcjene AS UO
	JOIN Korisnici AS K ON UO.UcenikId = K.Id
	JOIN Predaje AS P ON UO.PredajeId = P.PredajeId
	JOIN Predmeti AS PR ON PR.PredmetId = P.PredmetId
WHERE P.RazredId = @RazredId
GROUP BY PR.Naziv, K.Ime, K.Prezime
ORDER BY PR.Naziv, Ucenik
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_UceniciOcjene_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_UceniciOcjene_Insert]
(
	@PredajeId INT,
	@UcenikId INT,
	@Vrijednost INT,
	@Datum DATETIME,
	@Napomena nvarchar(MAX)	
)
AS
	INSERT INTO dbo.UceniciOcjene
	(
	    PredajeId,
		UcenikId,	    
	    Vrijednost,
	    Datum,	    
	    Napomena
	)
	VALUES	(@PredajeId,@UcenikId,@Vrijednost, @Datum,@Napomena)
GO
/****** Object:  StoredProcedure [dbo].[ssp_UceniciRazredi_GetByRazredId]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_UceniciRazredi_GetByRazredId]
(
@RazredId INT
)
AS
BEGIN  
    SELECT UR.UcenikRazrediId, R.RazredId, UR.UcenikId, UR.RedniBroj, K.Ime + ' ' + K.Prezime AS 'Ucenik'
	FROM Razredi AS R
		JOIN UceniciRazredi AS UR ON R.RazredId = UR.RazredId
		JOIN Korisnici AS K ON UR.UcenikId = K.Id
	WHERE R.RazredId = @RazredId
	ORDER BY UR.RedniBroj
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_UceniciRazredi_GetRazrediUcenika]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_UceniciRazredi_GetRazrediUcenika]
(
@UcenikId INT
)
AS
BEGIN  
    SELECT CONVERT(nvarchar,RazredId) AS 'RazredId'
	FROM UceniciRazredi
	WHERE UcenikId = @UcenikId
	ORDER BY SkolskaGodina
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_UceniciRazredi_Insert]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_UceniciRazredi_Insert]
(
    @RedniBroj INT = 0,
	@SkolskaGodina nvarchar(50),
	@UcenikId INT,
	@RazredID INT
)
AS
BEGIN
INSERT INTO [dbo].[UceniciRazredi]
           ([RedniBroj]
           ,[SkolskaGodina]
           ,[UcenikId]
           ,[RazredId])
     VALUES
           (@RedniBroj,@SkolskaGodina,@UcenikId,@RazredID)
END
GO
/****** Object:  StoredProcedure [dbo].[ssp_Uloge_GetByKorisnikId]    Script Date: 9/4/2018 1:55:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ssp_Uloge_GetByKorisnikId]
	@KorisnikId INT
AS
	SELECT U.UlogaId, U.Naziv
	FROM Uloge AS U 
		JOIN KorisniciUloge AS KU ON U.UlogaId = KU.UlogaID
	WHERE KU.KorisnikID = @KorisnikId
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
