<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="APIAddress" value="https://srednjeskoleapi20180818082926.azurewebsites.net/" />
    <add key="APIAddressAzure" value="https://srednjeskoleapi20180818082926.azurewebsites.net/" />
    <add key="userName" value="$SrednjeSkoleAPI20180818082926" />
    <add key="userPWD" value="hCDoahbpZx9f2tGRljc9HKB0xQpn5qkEWKFWXwDigC8iqMmZGJ0YvfhakRbi" />
    <add key="Mail" value="seminarskirazvojsoftvera@gmail.com" />
    <add key="MailPass" value="0lfszg2Lg7CBEE3KHu2b" />
    <add key="resizedImgWidth" value="220" />
    <add key="resizedImgHeight" value="220" />
    <add key="croppedImgWidth" value="120" />
    <add key="croppedImgHeight" value="120" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>